<div ng-controller="timelinePageCtrl">
<div class="bg-light lter b-b wrapper-md">

    <button class="btn btn-default btn-large pull-right" ng-init="isCollapsed = true"
            ng-click="isCollapsed = !isCollapsed">
        Last 24 Hours
    </button>

    <h1 class="m-n font-thin h3"><span ng-bind="condition.type"></span>&nbsp;&nbsp;ET2-MAIN</h1>


    <!-- collapse -->
    <div collapse="isCollapsed" class="panel-body">
        <div class="row col-md-2 col-lg-offset-4">
            <div class="form-group">
                <div class="input-group date form_datetime">
                    <input class="form-control" type="text" value=""
                           ng-model="startTimeFromStr" placeholder="StartTime From">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
            </div>
        </div>
        <div class="form-group col-md-2">
            <div class=" input-group date form_datetime">
                <input class="form-control" type="text" value=""
                       ng-model="finishTimeToStr" placeholder="FinishTime To">
                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            </div>
            <input type="hidden" id="dtp_input1" value=""/><br/>
        </div>
        &nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-rounded btn-icon fa fa-search" ng-click="query()"></button>

    </div>


    <!-- / collapse -->

</div>
<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading font-bold">
            CPU
        </div>
        <div class="panel-body">

        <div class="col-md-4" id="cpu_alloc_container"></div>


        <div class="col-md-4" id="cpu_used_container"></div>

        <div class="col-md-4" id="cpu_col_container">

        </div>
</div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading font-bold">
            MEM
        </div>
        <div class="panel-body">

            <div class="col-md-4" id="mem_alloc_container"></div>

            <div class="col-md-4" id="mem_used_container"></div>

            <div class="col-md-4" id="mem_col_container">
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading font-bold">
            Resource Timeline
        </div>

        <div class="panel-body">
            <div class="col-md-6" id="cpu_cur_container"></div>

            <div class="col-md-6" id="mem_cur_container"></div>
        </div>

    </div>


    <div class="panel panel-default">
        <div class="panel-heading font-bold">
                Evil Angels
            <div class="wrapper  b-b">
                <ul class="nav nav-pills nav-sm">
                    <li ng-class="{true: 'active', false: 'inactive'}[isSelected(1)]" ><a href ng-click="selectTab(1)">APP ID</a></li>
                    <li ng-class="{true: 'active', false: 'inactive'}[isSelected(2)]"><a href ng-click="selectTab(2)">APP NAME</a></li>
                    <div class="btn-group dropdown" dropdown>
                        <button class="btn btn-default btn-sm" dropdown-toggle>CPU Rate Top <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href>CPU Rate Top</a></li>
                            <li><a href>CPU Rate Bottom</a></li>
                            <li><a href>CPU Oversold</a></li>
                            <li class="divider"></li>
                            <li><a href>MEM Rate Top</a></li>
                            <li><a href>MEM Rate Bottom</a></li>
                            <li><a href>MEM Oversold</a></li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
        <table class="table table-hover table-responsive" ng-show="isSelected(1)">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>ID</th>
                        <th>Queue</th>
                        <th>User</th>
                        <th>CPU Allocate Vcores</th>
                        <th>CPU Used Vcores</th>
                        <th>CPU Rate</th>
                        <th>MEM Allocate GBS</th>
                        <th>MEM Used GBS</th>
                        <th>MEM Rate</th>
                        <th>Instances</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="body in table_bodys">
                        <td>{{body.name}}</td>
                        <td>{{body.id}}</td>
                        <td>{{body.queue}}</td>
                        <td>{{body.user}}</td>
                        <td>{{body.cpu_alloc}}</td>
                        <td>{{body.cpu_used}}</td>
                        <td>{{body.cpu_rate}}</td>
                        <td>{{body.mem_alloc}}</td>
                        <td>{{body.mem_used}}</td>
                        <td>{{body.mem_rate}}</td>
                        <td>{{body.instances}}</td>
                    </tr>
                    </tbody>

        </table>

        <table class="table table-hover table-responsive" ng-show="isSelected(2)">
            <thead>
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th>Queue</th>
                <th>User</th>
                <th>CPU Allocate Vcores</th>
                <th>CPU Used Vcores</th>
                <th>CPU Rate</th>
                <th>MEM Allocate GBS</th>
                <th>MEM Used GBS</th>
                <th>MEM Rate</th>
                <th>Instances</th>
            </tr>
            </thead>
            <!--tbody>
            <tr ng-repeat="body in table_bodys">
                <td>{{body.name}}</td>
                <td>{{body.id}}</td>
                <td>{{body.queue}}</td>
                <td>{{body.user}}</td>
                <td>{{body.cpu_alloc}}</td>
                <td>{{body.cpu_used}}</td>
                <td>{{body.cpu_rate}}</td>
                <td>{{body.mem_alloc}}</td>
                <td>{{body.mem_used}}</td>
                <td>{{body.mem_rate}}</td>
                <td>{{body.instances}}</td>
            </tr>
            </tbody-->

        </table>



    </div>
</div>

<script type="text/javascript">
    $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii:ss'});
</script>



</div>