<div ng-controller="timelineScheduleCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3"><span ng-bind="condition.type"></span>&nbsp;&nbsp;Scheduler</h1>
    </div>
    <div class="wrapper-md">

    <div class="panel panel-default">
        <div class="panel-heading font-bold">
            Queues
        </div>
        <table class="table table-hover table-responsive">
            <thead>
            <tr>
                <th>Name</th>
                <th>Allocate Vcores</th>
                <th>Used Vcores</th>
                <th>CPU Rate</th>
                <th>Allocate GBS</th>
                <th>Used GBS</th>
                <th>MEM Rate</th>
                <th>Active Apps</th>
                <th>Pending Apps</th>
                <th>Steady Fair Share</th>
                <th>Instantaneous Fair Share</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="body in schedule_queue_names">
                <td>{{body.name}}</td>
                <td>{{body.cpu_alloc}}</td>
                <td>{{body.cpu_used}}</td>
                <td>{{body.cpu_rate}}</td>
                <td>{{body.mem_alloc}}</td>
                <td>{{body.mem_used}}</td>
                <td>{{body.mem_rate}}</td>
                <td>{{body.active_apps}}</td>
                <td>{{body.pending_apps}}</td>
                <td>{{body.steady_fair_share}}</td>
                <td>{{body.ins_fair_share}}</td>
            </tr>
            </tbody>
        </table>
    </div>

        <div class="panel panel-default">
            <div class="panel-heading font-bold">
                Apps

                <button class="btn btn-default btn-xs pull-right" ng-init="isCollapsed = true"
                        ng-click="isCollapsed = !isCollapsed">
                    More...
                </button>
            </div>

            <div class="wrapper bg-auto b-b">
                <ul class="nav nav-pills nav-sm">
                    <li ng-class="{true: 'active', false: 'inactive'}[isSelected('app_list')]" ><a href ng-click="selectTab('app_list')">Applist</a></li>
                    <li ng-class="{true: 'active', false: 'inactive'}[isSelected('time_line')]"><a href ng-click="selectTab('time_line')">Timeline</a></li>
                    <li ng-class="{true: 'active', false: 'inactive'}[isSelected('resource_map')]"><a href ng-click="selectTab('resource_map')">ResourceMap</a></li>
                </ul>

                <form class="form-inline col-lg-offset-2" role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="condition.id" placeholder="App ID">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="condition.user" placeholder="User">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="condition.name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="condition.queue" placeholder="Queue">
                    </div>
                    <div class="form-group">
                        <label class="form-label">State:</label>
                        <select name="state" class="form-control" ng-model="condition.state" placeholder="State">
                            <option></option>
                            <option>SUCCEEDED</option>
                            <option>FAILED</option>
                            <option>KILLED</option>
                        </select>
                    </div>
                    <span class="form-group ">
                        <label class="form-label"></label>
                    </span>
                    &nbsp;&nbsp;&nbsp;
                    <button type="submit" class="btn btn-rounded btn-icon fa fa-search" ng-click="schedule_query()"></button>


                    <!-- collapse -->
                    <div collapse="isCollapsed" class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="input-group date form_datetime">
                                    <input class="form-control" size="18" type="text" value=""
                                           ng-model="startTimeFromStr" placeholder="StartTime From">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class=" input-group date form_datetime">
                                    <input class="form-control" size="18" type="text" value=""
                                           ng-model="finishTimeFromStr" placeholder="FinishTime From">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control"
                                       ng-model="condition.cpuCostFrom" placeholder="CPUCost From">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control"
                                       ng-model="condition.memoryCostFrom" placeholder="MemoryCost From">
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="form-group">
                                <div class="input-group date form_datetime" >
                                    <input class="form-control" size="18" type="text" value=""
                                           ng-model="startTimeToStr" placeholder="StartTime To">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                </div>
                                <input type="hidden" id="dtp_input1" value=""/><br/>
                            </div>
                            <div class="form-group">
                                <div class=" input-group date form_datetime">
                                    <input class="form-control" size="18" type="text" value=""
                                           ng-model="finishTimeToStr" placeholder="FinishTime To">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                </div>
                                <input type="hidden" id="dtp_input1" value=""/><br/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control"
                                       ng-model="condition.cpuCostTo" placeholder="CPUCost To">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control"
                                       ng-model="condition.memoryCostTo" placeholder="MemoryCost To">
                            </div>
                        </div>
                    </div>
                    <!-- / collapse -->
                </form>

            </div>


            <div class="table-responsive active" ng-show="isSelected('app_list')">
                <table ui-jq="dataTable" ui-options="{
                data: {{appData}},
          aoColumns: [
            { mData: 'id' },
            { mData: 'user' },
            { mData: 'name' },
            { mData: 'type' },
            { mData: 'queue' },
            { mData: 'fair share' },
            { mData: 'start time' },
            { mData: 'finish time' },
            { mData: 'state' },
            { mData: 'final status' },
            { mData: 'containers' },
            { mData: 'alloc_cpu' },
            { mData: 'used_cpu' },
            { mData: 'alloc_mem' },
            { mData: 'used_mem' },
            { mData: 'tracking_ui' }
          ]
        }" class="table table-striped m-b-none">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>User</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Queue</th>
                        <th>Fair Share</th>
                        <th>StartTime</th>
                        <th>FinishTime</th>
                        <th>State</th>
                        <th>FinalStatus</th>
                        <th>Containers</th>
                        <th>Allocated VCores</th>
                        <th>Used VCores</th>
                        <th>Allocated Mem GB</th>
                        <th>Used Mem GB</th>
                        <th>Tracking UI</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            <div ng-show="isSelected('time_line')">

                <div class="panel-body" ng-hide="appObjArray.length==0">
                    <div class="m-b-sm" >
                        Color Type &nbsp;&nbsp;
                        <div class="btn-group dropdown" dropdown>
                            <button class="btn btn-primary" ng-bind="colorTypeShow"></button>
                            <button class="btn btn-default" dropdown-toggle><span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href ng-click="changeColorType('Queue')">Queue</a></li>
                                <li><a href ng-click="changeColorType('User')">User</a></li>
                                <li><a href ng-click="changeColorType('Type')">Type</a></li>
                                <li><a href ng-click="changeColorType('State')">State</a></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <button class="btn m-b-xs w-xs btn-default btn-rounded" ng-repeat="x in colorMap"
                                style="background-color:{{x.color}};" title="{{x.value}}">
                            {{x.value}}
                        </button>
                    </div>
                </div>
                <div id="container" ></div>
            </div>
            <div ng-show="isSelected('resource_map')">
                <div class="panel-body">
                    <div class="col-md-6" id="schedule_cpu_container"></div>

                    <div class="col-md-6" id="schedule_mem_container"></div>
                </div>
            </div>
            </table-->



        </div>
    </div>

    </div>


</div>